p {
    color: white;
}
/*HEADER*/
.header {
    background: orange;
    height: 100px;
    padding: 15px 0;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
}

.header_container {
    display: flex;
    align-items: center;
}

.header_logo {
    width: 300px;
    height: 100px;
    background: url("../img/Shakhtar-donetsk.png") center no-repeat;
    background-size: contain;
}

.navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px;
}

.navigation_item {
    margin-right: 75px;
    color: #000;
    border-bottom: 3px solid transparent;
    transition: all .5s;
}

.navigation_item:hover {
    border-bottom: 3px solid #000;
}

/*Transfers*/

.transfers {
    min-height: 350px;
    padding: 20px 0;
}

.transfers_container {
    min-height: 350px;
    align-items: center;
    display: flex;
}

.info_one {
    color: orange;
    align-content: ;
}

.transfers_info {
    flex: 1 1 40%;
}

.transfers_img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_img {
    width: 300px;
    height: 222px;
}
/*MACH*/
h2 {
    color: orange;
}
td {
    color: white;
}
.leftteam {
    text-align: right;
}
.photo_content {
    display: flex;
}
.content_img {
    width: 50%;
    height: 50%;
}